## Hola! soy Facundo y voy a extraer datos de una pagina web con python

Este procedimiento es muuuy parecido para diferentes páginas, por esto mismo me gusta compartirlo.

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import pandas as pd

abrimos WebDriver

In [2]:
driver = webdriver.Edge("C:/msedgedriver.exe")

C:\Users\lopez\AppData\Local\Temp\ipykernel_12852\2889328839.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Edge("C:/msedgedriver.exe")

Variables para guardar datos

In [12]:
m2sucio = []
precioSucio = []
ubicacionSucio = []

Variables limpias

In [20]:
m2 = []
precio = []
ubicacion = []

Buscamos alguna pagina que nos interese

In [5]:
driver.get("https://www.inmuebles24.com/terrenos-en-venta-en-fraccionamiento-bugambilias.html")

Extracción de datos

In [6]:
contenido = driver.page_source

Pasamos los datos a HTML con beautifulSoup

In [8]:
soup = bs(contenido)

Filtramos un poco la web

In [ ]:
soup.find_all("div", attrs={"class":"sc-i1odl-2 gIHCpf"})

Aqui extraemos ciertos datos especificos para guardarlos en las variables

In [13]:
for tarjeta in soup.find_all("div", attrs={"class":"sc-i1odl-2 gIHCpf"}):
    buscar_area = tarjeta.find("div", attrs={"data-qa":"POSTING_CARD_FEATURES"})
    m2sucio.append(buscar_area.text)

    buscar_precio = tarjeta.find("div", attrs={"data-qa":"POSTING_CARD_PRICE"})
    precioSucio.append(buscar_precio.text)

    buscar_ubicacion = tarjeta.find("div", attrs={"class":"sc-ge2uzh-0 bzGYzE"})
    ubicacionSucio.append(buscar_ubicacion.text)

Probamos

In [14]:
m2sucio

[' 278 m² ',
 ' 495 m² ',
 ' 552 m² ',
 ' 699 m² ',
 ' 454 m² ',
 ' 406 m² ',
 ' 563 m² ',
 ' 400 m² ',
 ' 715 m² ',
 ' 1247 m² ',
 ' 580 m² ',
 ' 315 m² ',
 ' 1050 m² ',
 ' 452 m² ',
 ' 398 m² ',
 ' 411 m² ',
 ' 720 m² ',
 ' 440 m² ',
 ' 1290 m² ',
 ' 583 m² ']

Limpieza

In [22]:
for lista in m2sucio:
    m2.append(lista.replace(" ","").replace("m²",""))
m2

['278',
 '495',
 '552',
 '699',
 '454',
 '406',
 '563',
 '400',
 '715',
 '1247',
 '580',
 '315',
 '1050',
 '452',
 '398',
 '411',
 '720',
 '440',
 '1290',
 '583']

repetimos para otras variables

In [15]:
precioSucio

['MN 2,780,000',
 'MN 4,699,000',
 'MN 4,400,000',
 'MN 5,100,000',
 'MN 5,700,000',
 'MN 4,060,000',
 'MN 5,250,000',
 'MN 3,600,000',
 'MN 5,460,000',
 'MN 8,500,000',
 'MN 4,350,000',
 'MN 3,600,000',
 'MN 4,990,000',
 'MN 3,840,000',
 'MN 3,986,200',
 'MN 3,495,000',
 'MN 5,980,000',
 'MN 3,300,000',
 'MN 7,482,000',
 'MN 4,372,500']

In [21]:
for lista in precioSucio:
    precio.append(lista.replace("MN","").replace(",","").replace(" ",""))
precio

['2780000',
 '4699000',
 '4400000',
 '5100000',
 '5700000',
 '4060000',
 '5250000',
 '3600000',
 '5460000',
 '8500000',
 '4350000',
 '3600000',
 '4990000',
 '3840000',
 '3986200',
 '3495000',
 '5980000',
 '3300000',
 '7482000',
 '4372500']

In [25]:
ubicacion = ubicacionSucio

Teniendo las los datos limpios, ya podemos pasar a Pandas

In [28]:
df = pd.DataFrame({"Ubicacion":ubicacion,"Área(m²)":m2,"Precio(mx)":precio})

In [30]:
df

                                            Ubicacion Área(m²) Precio(mx)
0     VILLA JUAREZ # 1695 LA AVELLANA ZAPOPAN JALISCO      278    2780000
1                                  Av. Del Búfalo 418      495    4699000
2                               2da sección, (villas)      552    4400000
3                              Bosques de bugambilias      699    5100000
4                           Av. Azaleas, Coto La Joya      454    5700000
5                                                          406    4060000
6                                 PASEO DEL PUMA 3056      563    5250000
7   Del Reno Poniente #villas 6 - 19 esq. con Entr...      400    3600000
8                                        bugambilias       715    5460000
9                                                         1247    8500000
10                                  Remanso del Coati      580    4350000
11                             Privada Paseo Del Iris      315    3600000
12                               Vistas del sol 30 30     1050    4990000
13                                  Paseo del Carnero      452    3840000
14  Paseo del Puma , Fraccionamiento Bugambilias, ...      398    3986200
15                                  Paseo del Carnero      411    3495000
16                              Av. Paseo del Carnero      720    5980000
17                                  Callejon del Iris      440    3300000
18                                                        1290    7482000
19                               Paseo de las Gacelas      583    4372500

guardamos el df en un archivo csv

In [ ]:
df.to_csv("terrenos bugambilias.csv", index=False, encoding="utf-8")

ya podemos trabajar con los datos!